<h1>Sign up</h1>
<% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
  <% } %>
<form action="/signup" method="post">
    <section>
        <label for="username">Fullname</label>
        <input id="username" name="username" type="text" autocomplete="username" required>
    </section>
    <section>
        <label for="email">Email</label>
        <input id="email" name="email" type="email" autocomplete="email">
    </section>
    <section>
        <label for="new-password">Password</label>
        <input id="new-password" name="password" type="password" autocomplete="new-password" required>
    </section>
    <button type="submit">Sign up</button>
</form>