<h3><%= title %> </h3>
<form action="/category" method="POST">
    <label for="category">Category:</label>
    <input type="text" id="category" name="category" required>
    <br>
    <input type="submit" value="Submit">
</form> 