<form action="/category/<%= content.category %>/edit" method="POST" enctype="multipart/form-data">
    <label for="category">Category:</label>
    <input type="text" id="category" name="category" value="<%= content.category %>" required>
    <br>
    <input type="submit" value="Submit">
</form>